body{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1.5rem;
    
}

.search-box{
    margin-right: 5rem;
}

tr{
    border: 1px solid #000000;
    padding: 8px;
}

th{
    border: 1px solid #000000;
    padding: 8px;
}

td{
    border: 1px solid #000000;
    padding: 8px;
}

table{
    margin-top: 2rem;
}