{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/uas.css'%}"> 

    <title>Produk</title>
  </head>
  <body cz-shortcut-listen="true">
    <h1>Products</h1>
        <form method="POST" action="{% url 'produk' %}" class="d-flex">
              {% csrf_token %}
              <input name="keyword" class="form-control me-2 search-box" type="search" placeholder="Search by User" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <a href="{% url 'produkcreate'%}" class="btn btn-outline-success" style="margin-top: 2rem;">Add New Produk</a>
        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Harga</th>
                <th>Actions</th>
            </tr>
            {% for item in produk %}
            <tr>
                <td>{{item.NamaProduk}}</td>
                <td>{{item.Harga}}</td>
                <td>
                    <a href="{% url 'produkupdate' pk=item.id %}" class="btn btn-warning">Update</a>
                    <a href="{% url 'produkdelete' pk=item.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <a href="{% url 'toko'%}" class="btn btn-success" style="margin-top: 2rem;">Go To Toko</a>
      

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>